---
import Layout from '../layouts/Layout.astro'
import { Icon } from 'astro-icon'
import { Image } from 'astro:assets'
import profile from '/public/brody.png'
---

<Layout title='Brody MacLean'>
	<Image src={profile} alt='Brody MacLean' class='not-prose m-0 h-16 w-16 rounded-full' />

	<h1 class='mt-4'>
		G'day, I'm <span class='text-gradient'>Brody MacLean</span>, a multi-disciplinary design lead
		from Sydney, Australia. :-)
	</h1>
	<div class='breadcrumbs not-prose mb-1 mt-0 py-0'>
		<a href='/journal'>
			<Icon pack='tabler' name='notebook' class='' />
			Journal
		</a>
		<a href='/garden'>
			<Icon pack='tabler' name='leaf' class='' />
			Garden
		</a>
		<a href='/work'><Icon pack='tabler' name='device-analytics' class='' />Work</a>
		<a href='/about'>
			<Icon pack='tabler' name='user' class='' />
			About
		</a>
		<!-- <a href="/garden/uses"
      ><Icon pack="tabler" name="device-desktop-analytics" class="" />Uses</a
    >
    <a href="/garden/now"
      ><Icon pack="tabler" name="calendar-event" class="" />Now</a
    > -->
	</div>

	<p class='lead mt-4'>
		Currently, I am Design Lead at <a href='https://atlassian.com/' target='_blank'>Atlassian</a>,
		focusing on design quality & visual integration of the AI Design Kit.
	</p>
	<p>
		Previously I built design systems for <a href='https://deputy.com/' target='_blank'>Deputy</a>, <a
			href='https://prospa.com/'
			target='_blank'>Prospa</a
		> & <a href='https://jobadder.com/' target='_blank'>JobAdder</a>, as well as led teams &
		designed products for <a href='https://safetyculture.com/' target='_blank'>SafetyCulture</a>, <a
			href='https://hudl.com/'
			target='_blank'>Hudl</a
		> and <a href='https://cloudbees.com/' target='_blank'>Cloudbees</a>.
	</p>
</Layout>

<style>
	.text-gradient {
		background-image: var(--color-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200%;
		animation: textclip 1.5s linear infinite;

		@apply bg-left;
	}
	@keyframes textclip {
		to {
			background-position: 200% center;
		}
	}

	.instructions {
		@apply bg-subtle;
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
