---
const { url, title, domain } = Astro.props;
import { Icon } from "astro-icon";
---

<div class="px-5 py-4 mb-10 rounded-md bg-subtle not-prose">
  <span class="block mb-1 font-mono text-xs text-subtle">Source:</span>
  <span class="block mb-2 leading-normal text-heading font-heading">
    {title}
  </span>

  <a
    href={url}
    target="_blank"
    rel="noopener noreferrer"
    class="bg-accent
    inline-flex
    rounded-md
    px-2.5
    py-1
    font-medium
    text-sm
    hover:bg-accentHover
    transition-colors"
  >
    <Icon
      pack="tabler"
      name="external-link"
      class="inline-flex w-4 mr-1 text-border"
    />
    <span class="text-border">
      {domain}
    </span>
  </a>
</div>
