---
import { SITE } from '@config'
import Layout from '@layouts/Layout.astro'
import Main from '@layouts/Main.astro'
import Card from '@components/Card'
import slugify from '@utils/slugify'
import type { CollectionEntry } from 'astro:content'

export interface Props {
	pageNum: number
	totalPages: number
	entries: CollectionEntry<'journal'>[]
}

const { pageNum, totalPages, entries } = Astro.props
---

<Layout title={`Journal • ${SITE.title}`}>
	<Main
		title='Journal'
		pageDesc='The place where I share my thoughts about design, code, product & life.'
	>
		<div class='not-prose'>
			{entries.map(({ data }) => <Card href={`/journal/${slugify(data)}`} frontmatter={data} />)}
		</div>
	</Main>
</Layout>
