---
import Breadcrumbs from '@components/Breadcrumbs.astro';
import { Icon } from 'astro-icon';

export interface Props {
  title: string;
  pageDesc?: string;
}

const { title, pageDesc } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1, 4); // remove the first & last "/"
---

<div class='breadcrumbs not-prose mb-14'>
  <a href='/'>
    <span class='font-heading h-lig mr-1.5 -mt-0.5'>:-)</span>Brody.com
  </a>
  <div class='flex'>
    {
      currentPath === 'gar' ? (
        <>
          <span class=''>
            <Icon pack='tabler' name='leaf' class='' />
          </span>
          Garden
        </>
      ) : (
        ''
      )
    }
    {
      currentPath === 'jou' ? (
        <>
          <span class=''>
            <Icon pack='tabler' name='notebook' class='' />
          </span>
          Journal
        </>
      ) : (
        ''
      )
    }
  </div>
  <a></a>
</div>

<article>
  <h1>{title}</h1>
  <p>{pageDesc}</p>
  <slot />
</article>

<style></style>
